@font-face{font-family:Comfortaa;src: url('../font/Comfortaa-Regular.ttf');}
@font-face{font-family:Courgette;src: url('../font/Courgette-Regular.ttf');}

body{font-family:Comfortaa, "Helvetica Neue"; color:#FFFFFF; background-image: url('../img/txture.png'); background-repeat: repeat; margin:0;}
img{border:none;}
.hide{display:none;}
a{text-decoration:none;}
a:link{color:#ffc423;}
a:visited{color:#dea568;}
form{width:500px;height:200px;margin:auto}
.autoForm{height:auto;}
input{-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; background-color:#7b7b7b; border-style:none; height:20px; color:white; padding-left:10px; padding-right:10px;}
input[type='button'], input[type='submit']{background-color:#FFC423;}

.gold{color:#FFC423;}
.pink{color:#FF75B8;}
.error{color:#f23838;font-variant:small-caps;font-size:0.8em;}
.success{color:#20f46a;}
.clear{clear:both;}
.center{margin-left:auto;margin-right:auto;}
.leftTable{float:left;margin-right:20px;}
.leftSmallTable{float:left;margin-right:50px;}
.left{float:left;}
.right{float:right;}
.small{font-size:0.7em;}
.css3gold{text-shadow: 2px 2px 2px #ffc423;filter: dropshadow(color=#ffc423, offx=2, offy=2);}
.bigbutton{font-size: 14px;color: #ffffff;padding: 10px 20px;
background: -moz-linear-gradient(top,#ffc423 0%,#ff9524);
background: -webkit-gradient(linear, left top, left bottom, from(#ffc423),to(#ff9524));
-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border: 1px solid #7d0000;
-moz-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
-webkit-box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
box-shadow:0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 1px 0px rgba(255,255,255,0.3);}
.bigbutton2{-moz-box-shadow: 0px 0px 3px 1px #fff6b5;-webkit-box-shadow: 0px 0px 3px 1px #fff6b5;box-shadow: 0px 0px 3px 1px #fff6b5;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc423), color-stop(1, #f79708));
background:-moz-linear-gradient(top, #ffc423 5%, #f79708 100%);background:-webkit-linear-gradient(top, #ffc423 5%, #f79708 100%);
background:-o-linear-gradient(top, #ffc423 5%, #f79708 100%);background:-ms-linear-gradient(top, #ffc423 5%, #f79708 100%);
background:linear-gradient(to bottom, #ffc423 5%, #f79708 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc423', endColorstr='#f79708',GradientType=0);
background-color:#ffc423;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
border:1px solid #ffe270;display:inline-block;color:#ffffff;font-size:1em;padding:8px 24px;text-decoration:none;text-shadow:0px 1px 0px #000000;
}
.bigbutton2:hover{
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f79708), color-stop(1, #ffc423));
background:-moz-linear-gradient(top, #f79708 5%, #ffc423 100%);background:-webkit-linear-gradient(top, #f79708 5%, #ffc423 100%);
background:-o-linear-gradient(top, #f79708 5%, #ffc423 100%);background:-ms-linear-gradient(top, #f79708 5%, #ffc423 100%);
background:linear-gradient(to bottom, #f79708 5%, #ffc423 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f79708', endColorstr='#ffc423',GradientType=0);
background-color:#f79708;
}
.bigbutton2:active{position:relative;top:1px;}

/*COMMUN*/
#header{width:100%;background: #FFFFFF url('../img/txture.png') repeat-x;}
#header-inner{width:960px;margin-left:auto;margin-right:auto;}
#header-img{margin:0;}
#banner{position:relative;left:62px;}
#header-motto{font-family:Courgette; color:#dea568; font-size:20pt; margin:0; text-align:right; top: -33px; right: 60px; position:relative; float:right;}

/*COMMUN*/
#main{background-image:url('../img/dark_wall.png'); background-repeat:repeat;}
#main-content{width:960px;margin-left:auto;margin-right:auto;padding-top:20px;padding-bottom:10px;}

/*Index.php*/
#main-presentation{text-align:justify;}
#formPseudo{margin-left:50px;margin-bottom:10px;}
#formDescription{margin-bottom:10px;margin-left:17px;}
#formEmail{margin-left:64px;margin-bottom:10px;}
#formPassword{margin-left:31px;margin-bottom:10px;}
#formGender{margin-bottom:10px;}
#formUrl{margin-left:83px;margin-bottom:10px;}
#main-tableProfiles{width:100%;margin-top:30px;}
.main-tableProfiles-img{width:128px;}
.main-tableProfiles-name{width:192px;}
.main-imgRounded{border-color: #FFC423;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border-style: solid;border-width: 2px;-moz-box-shadow: 0px 0px 5px 2px #fff6b5;-webkit-box-shadow: 0px 0px 5px 2px #fff6b5;box-shadow: 0px 0px 5px 3px #FFF6B5;}

/*Profile.php*/
#buttonDelete{margin-top:55px;text-align:center;}

/*COMMUN*/
#footer{width:960px;margin-left:auto;margin-right:auto;}
#footer-menu{list-style:none;float:right;}
#footer-menu li{display:inline;margin-right:20px;margin-left:20px;}